/* 
These are the styles for the whole document
*/

.main-title {
    background: rgba(205, 134, 134, 0.6);
}

.fancy-font, .nav-bar {
    font-family: 'Open Sans', sans-serif;
    color: rgb(54, 220, 176);
    padding: 12px 8px;
    margin: 0;
}

.nav-bar ul {
    padding-left: 0;

}
.nav-bar li {
    color: rgb(42, 75, 101);
    list-style: none;
}

.main-image {
    width: 350px;
}

.main-image img{
    width: 100%;
}

.creature-image {
    background-image: url("../images/Awards_01-1024x629.jpg");
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 20px;
}